.navigation {
  grid-column: middle-start / middle-end;
  grid-row: 1 / span 2;
  z-index: 20;
  margin-top: 4rem;

  @include respond(small) {
    grid-column: full-start / full-end;
  }

  &__nav {
    display: block;

    @include respond(small) {
      display: none;
      margin-top: 3rem;
    }
  }

  &__list {
    display: flex;
    justify-content: flex-end;

    @include respond(small) {
      display: none;
    }

    &-mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      padding-top: 8rem;
      top: 0;
      right: 0;
      height: 100%;
      opacity: 0;
      width: 5rem;

      z-index: 19;
      background-image: linear-gradient(
        rgba($color-primary, 0.7),
        rgba($color-primary, 0.7)
      );
      transition: all 0.5s;

      &-logo {
        width: 50%;
      }

      // HORIZONTAL LINE
      .horizontal-line {
        width: 70%;
        height: 0.1rem;
        background-color: $color-light;
        margin: 2rem auto 5rem auto;
      }

      &-social {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
      }

      @media only screen and(min-width: 56.31em) {
        opacity: 0;
        visibility: hidden;
        position: absolute;
      }
    }
  }

  &__link,
  &__link-mobile {
    list-style: none;
    font-size: 2rem;
    text-transform: uppercase;

    @include respond(small) {
      font-size: 1.6rem;
    }

    &:not(:last-child) {
      margin-right: 2rem;

      @include respond(small) {
        margin-right: 0;
      }
    }

    a:link,
    a:visited {
      color: $color-light;
      text-decoration: none;
      padding-bottom: 1rem;
      padding-top: 1rem;
      border-bottom: 1px solid transparent;
      border-top: 1px solid transparent;
      transition: all 0.4s;
    }

    a:hover {
      padding-bottom: 0.3rem;
      padding-top: 0.3rem;
      border-bottom: 1px solid $color-secondary;
      border-top: 1px solid $color-secondary;
      color: $color-secondary;
    }
  }
}

.dark-overlay {
  position: absolute;
  background-image: linear-gradient(
    rgba($color-darkgrey, 0.9),
    rgba($color-darkgrey, 0.9)
  );
  z-index: 10;
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.nav__toggle {
  display: none;

  &-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    height: 3rem;
    width: 3rem;

    z-index: 20;
    cursor: pointer;

    @media only screen and(min-width: 56.31em) {
      opacity: 0;
      visibility: hidden;
    }
  }

  &-icon {
    position: relative;
    margin-top: 1.3rem;

    &,
    &-before,
    &-after {
      width: 3rem;
      height: 0.2rem;
      background-color: $color-secondary;
      display: inline-block;
      transition: transform 0.5s, background-color 0.1s;
    }

    &-before,
    &-after {
      position: absolute;
      left: 0;
    }

    &-before {
      top: 0.2rem;
    }

    &-after {
      top: 2.5rem;
    }
  }
}

.nav-mobile {
  font-size: 0;
  display: none;
  margin-bottom: 0.8rem;
}
