.members {
  position: relative;
  padding: 6rem;

  @include respond(small) {
    padding: 6rem 3rem;
  }

  @include respond(smallest) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26.5rem, 1fr));
    grid-gap: 2rem;
  }

  &__card {
    height: 50rem;
    border-radius: 3px;
    box-shadow: 0 2rem 5rem rgba($color-black, 0.25);
    overflow: hidden;
  }

  &__name {
    background-color: #fff;
    padding: 1.3rem 2rem;
    width: 50%;
    margin-top: 40rem;
    transition: all 0.5s;

    h2 {
      position: relative;
    }

    @include respond(largest) {
      width: 70%;
    }
  }

  &__detail {
    font-size: 1.7rem;
    color: $color-light;
    padding: 2rem;
    margin-top: 42rem;

    @include respond(large) {
      font-size: 1.5rem;
    }

    &--role {
      font-weight: 700;
      color: $color-secondary-dark;
    }
  }

  &__img-1 {
    background-image: linear-gradient(
        rgba($color-black, 0.6),
        rgba($color-black, 0.6)
      ),
      url("/ScandalTribute/assets/haruna.jpg");
    background-size: cover;
  }

  &__img-2 {
    background-image: linear-gradient(
        rgba($color-black, 0.6),
        rgba($color-black, 0.6)
      ),
      url("/assets/mami.jpg");
    background-size: cover;
    background-position: 50%;
  }

  &__img-3 {
    background-image: linear-gradient(
        rgba($color-black, 0.6),
        rgba($color-black, 0.6)
      ),
      url("/assets/rina.jpg");
    background-size: cover;
  }

  &__img-4 {
    background-image: linear-gradient(
        rgba($color-black, 0.6),
        rgba($color-black, 0.6)
      ),
      url("/assets/tomo.jpg");
    background-size: cover;
    background-position: 20%;
  }

  @media only screen and (min-width: 56.25em) {
    // HOVER EFFECT
    &__card:hover &__name {
      margin-top: 0;
      width: 100%;
    }

    &__card:hover &__detail {
      margin-top: 2rem;
    }

    // OPACTIY CHANGE ON HOVER

    &__img-1:hover {
      background-image: linear-gradient(
          rgba($color-black, 0.9),
          rgba($color-black, 0.9)
        ),
        url("/assets/haruna.jpg");
    }

    &__img-2:hover {
      background-image: linear-gradient(
          rgba($color-black, 0.9),
          rgba($color-black, 0.9)
        ),
        url("/assets/mami.jpg");
    }

    &__img-3:hover {
      background-image: linear-gradient(
          rgba($color-black, 0.9),
          rgba($color-black, 0.9)
        ),
        url("/assets/rina.jpg");
    }

    &__img-4:hover {
      background-image: linear-gradient(
          rgba($color-black, 0.9),
          rgba($color-black, 0.9)
        ),
        url("/assets/tomo.jpg");
    }
  }

  // LOGO
  &__logo {
    position: absolute;
    display: block;
    bottom: -33rem;
    left: 50%;
    transform: translateX(-50%);
    width: 15%;
    min-width: 25rem;

    @include respond(medium) {
      bottom: -25rem;
    }
  }
}
